.main-content{
  background-color: rgb(26, 26, 26, 1);
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.description-container{
    flex:1.5;
    display:flex ;
    flex-direction: column;
    justify-content: center;
}

.description-container .divider{
    width: 100%;         
    height: 1px;         
    background-color: #ccc;  
    margin: 20px 0px;
}
.gallery {
    flex:1;
}
